extends ../layout

block content
  h1 #{title}
  form(method='POST', action='/events/delete/'+event[0].event_id)
    #form-group
      label ID:
      input.form-control(name='id', type='text',readonly='', value=event[0].event_id)
    #form-group
      label Title:
      input.form-control(name='title', type='text',readonly='',value=event[0].name)
    #form-group
      label Theatre:
      input.form-control(name='theatre',type='text',readonly='',value=event[0].theatre)
    br
    input.btn.btn-danger(type='submit',value='Delete')
  
