extends ../layout

block content
  h1 #{title}
  form(method='POST', action='/events/edit/'+id)
    #form-group
      label ID:
      input.form-control(name='id', type='text',readonly='', value=id)
    #form-group
      label Title:
      input.form-control(name='title', type='text',value=event[0].name)
    #form-group
      label Theatre:
      input.form-control(name='theatre',type='text',value=event[0].theatre)
    #form-group
      label Show Date :
      input.m-2#showdate(type='date', name='showdate')
      label Show Time :
      input.ml-2#showtime(type='time', name='showtime')
    br
    input.btn.btn-primary(type='submit',value='Edit')
  
